@use "./_variables" as *;
body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(135deg, $OP_black_10 50%, $OP_black_20 100%);
  width: 100%;
  height: 100%;
  padding-block: $navHeight;
}

input {
  background-color: $L_black_25;
  width: 100%;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 16px;
  corner-shape: squircle;
  color: $OP_white_10;
  border: none;
}
button,
.button {
  transition: all $transitionTime ease-out;

  border-radius: 12px;
  corner-shape: squircle;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 900;
  border: none;
  background: linear-gradient(135deg, $L_black_50, $L_black_20);
  text-decoration: none;

  &:hover {
    transition: border-radius $transitionTime;
    background: linear-gradient(135deg, $L_black_70, $L_black_40);
    border-radius: 32px;
  }
}
