@use "./_variables" as *;
@import "./mixin.scss";
html {
  height: 100%;
}
body {
  display: flex;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, $background-top, $background-bottom);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin-block: $navHeight;
}
.app {
  display: flex;
  width: 100%;
  justify-content: center;
}
input {
  background-color: $L_black_25;
  width: 100%;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 16px;
  corner-shape: squircle;
  color: $OP_white_10;
  border: none;
}
.button {
  @include button($sunrise, $black);
}
