@use "./_variables" as *;
body {
  display: flex;
  font-family: "Raleway", sans-serif;
  background: $L_black_15;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100dvh;
  padding-block: $navHeight;
}
.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
input {
  background-color: $L_black_25;
  width: 100%;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 16px;
  corner-shape: squircle;
  color: $OP_white_10;
  border: none;
}
button,
.button {
  border-radius: 12px;
  // corner-shape: squircle;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 900;
  border: none;
  background: linear-gradient(135deg, $L_black_50, $L_black_20);
  text-decoration: none;
  width: 100%;
  transition: all $transitionTime ease-out;
}
