@use "./_variables" as *;
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000000;
  width: 100%;
  display: flex;
  background: linear-gradient(135deg, $OP_black_20 60%, $OP_sunrise_90 100%);
  box-shadow: 0 0 30px 0 $black;
  backdrop-filter: blur(10px);
  justify-content: end;
  padding: 16px;
  &__role {
    color: $sunrise;
    display: flex;
    height: 100%;
    align-self: center;
    padding: 16px;
  }
  &__link {
    transition: all 0.1s ease-out;
    background: linear-gradient(135deg, $OP_black_30, $OP_black_70);

    font-weight: 900;
    text-decoration: none;
    color: $sunrise;
    padding: 16px 12px;
    border-radius: 16px;
    corner-shape: squircle;
    &:hover {
      border-radius: 32px;
      color: black;
      background: linear-gradient(135deg, $OP_red_30, $red);
    }
  }
}
