//=================================================================
//         ❗❗ Ce fichier sert à tout mettre à 0 ❗❗
//=================================================================
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
