@use "_variables" as *;

@use "normalize";
@use "index";
@use "navbar";
@use "./login";
@use "./projects/project";
@use "./projects/projectC";
@use "./modals/modals.scss";
@use "./modals/m-projects.scss";
@use "./skills/skilss.scss";
.images {
  background-color: red;
  padding: 12px;
  display: flex;
  &__item {
    max-width: 50%;
    min-width: 200px;
  }
}
.fade-enter-active {
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}
.fade-leave-active {
  transition:
    opacity 200ms ease-out,
    transform 200ms ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  // transform: translateY(6px);
}

.fade-move {
  transition: transform 180ms ease;
}

.fade-leave-active {
  position: absolute;
}
