@use "_variables" as *;

@use "normalize";
@use "index";
@use "navbar";
@use "./login";
@use "./projects/project";
@use "./projects/projectC";
@use "./modals/modals.scss";
@use "./modals/m-projects.scss";
@use "./skills/skilss.scss";
.images {
  background-color: red;
  padding: 12px;
  display: flex;
  &__item {
    max-width: 50%;
    min-width: 200px;
  }
}
