.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: linear-gradient(135deg, $OP_black_20 60%, $OP_sunrise_90 100%);
  box-shadow: 0 0 30px 0 $black;
  backdrop-filter: blur(10px);
  justify-content: end;
  padding: 16px;
  &__role {
    color: $sunrise;
    display: flex;
    height: 100%;
    align-self: center;
    padding: 16px;
  }
  &__link {
    transition: background 0.35s ease-out;
    background: linear-gradient(135deg, $sunrise, $darksunrise_15);

    font-weight: 900;
    text-decoration: none;
    color: black;
    padding: 16px 12px;
    border-radius: 16px;
    &:hover {
      background: linear-gradient(135deg, $sunrise 100%, $darksunrise_15);
    }
  }
}
