.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: $black40op;
  backdrop-filter: blur(16px);
  box-shadow: 0 0 16px 0 $black40op;
  justify-content: end;
  padding: 16px;
  &__role {
    color: $sunrise;
    display: flex;
    height: 100%;
    align-self: center;
    padding: 16px;
  }
  &__link {
    transition: background 0.35s ease-out;
    background: linear-gradient(135deg, $sunrise, $darksunrise);

    font-weight: 900;
    text-decoration: none;
    color: black;
    padding: 16px 12px;
    border-radius: 16px;
    &:hover {
      background: linear-gradient(135deg, $sunrise 100%, $darkersunrise);
    }
  }
}
