@use "../_variables" as *;

.projectCard {
  transition: transform $transitionTime ease-out;
  display: flex;
  flex-direction: column;
  background-color: $L_black_5;
  border-radius: 32px;
  corner-shape: squircle;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 0 16px 0 $OP_black_60;
  height: fit-content;
  &:hover {
    transform: translateY(3px);
  }

  &__infos {
    background: linear-gradient(135deg, $OP_black_80, $OP_black_90);
    display: flex;
    flex-direction: column;
    padding-block-start: 8px;
  }
  &__section {
    padding-inline: 16px;
  }
  &__titleCard {
    transition: backdrop-filter $transitionTime ease-out;

    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    color: $OP_white_40;
    padding: 12px 24px;
    z-index: 1200;
    backdrop-filter: blur(0px);
    text-shadow: 0 0 2px $black, 0 0 5px $black, 0 0 10px $black;

    &:hover {
      backdrop-filter: blur(6px);
    }
  }
  &__title {
    color: $L_black_70;
    display: flex;
    font-weight: 700;
    padding-inline: 8px;
    padding-block: 12px 6px;
    //[START] linear-gradient sur texte
    background: linear-gradient(135deg, $sunrise, $red 50%);
    -webkit-background-clip: text; /* Safari/Chrome */
    background-clip: text; /* Standard */
    -webkit-text-fill-color: transparent;
    color: transparent;
    //[END] linear-gradient sur texte
  }
  &__imageSection {
    position: relative;
    overflow: hidden; // clip l’overlay aux coins
    border-radius: 32px 32px 0 0; // même rayon que l’image
    corner-shape: squircle;
  }

  &__image {
    position: relative;
    z-index: 1; // sous l’overlay, au-dessus du fond
    width: 100%;
    aspect-ratio: 1/0.5;
    border-radius: 32px 32px 0 0;
    corner-shape: squircle;
    display: block;
  }
  &__githubLink {
  }
  &__input {
    background-color: $L_black_25;
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    corner-shape: squircle;
    color: $OP_white_10;
    border: none;
  }
  &__textarea {
    background-color: $L_black_25;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    corner-shape: squircle;
    color: $OP_white_10;
    border: none;
    resize: vertical;
  }
  &__skillsList,
  &__skills {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: center;
  }
  &__skillsList {
    position: absolute;
    justify-self: center;
  }
  &__skill {
    width: 32px;
  }

  &__sendButton {
    transition: all calc($transitionTime/2) ease-in;
    -webkit-transition: all calc($transitionTime/2) ease-in;
    margin-block: 32px;
    font-size: 16px;
    overflow: hidden;
    width: fit-content;
    display: flex;
    align-self: center;
    align-items: center;
    background: linear-gradient(135deg, $sunrise, $red);
    border-bottom: 5px solid $D_red_40;
    min-height: 60px;
    max-height: 60px;

    &:hover {
      margin-block-end: 34px;
      transform: translateY(2px);
      border-bottom: 3px solid $D_red_60;
    }
    &:hover::before {
      opacity: 0;
    }
    &:active {
      min-height: 55px;
      margin-block-end: 37px;
      transform: translateY(5px);
      border-bottom: 0px solid $D_red_60;
      opacity: 0.66;
    }
  }
  &__availableSkill {
    width: 32px;
    aspect-ratio: 1/1;
  }
}
