@use "../_variables" as *;

.projectCard {
  transition: transform $transitionTime ease-out;
  display: flex;
  flex-direction: column;
  background-color: $L_black_5;
  border-radius: 32px;
  corner-shape: squircle;
  max-width: 480px;
  width: 100%;
  box-shadow: 0 0 16px 0 $OP_black_60;
  height: fit-content;
  &:hover {
    transform: translateY(3px);
  }

  &__infos {
    background: linear-gradient(135deg, $OP_black_90, $OP_black_90);
    display: flex;
    flex-direction: column;
    padding-block-start: 8px;
  }
  &__section {
    padding-inline: 16px;
  }
  &__titleCard {
    transition: backdrop-filter $transitionTime ease-out;

    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    color: $OP_white_40;
    padding: 12px 24px;
    z-index: 1200;
    backdrop-filter: blur(0px);
    text-shadow: 0 0 2px $black, 0 0 5px $black, 0 0 10px $black;

    &:hover {
      backdrop-filter: blur(6px);
    }
  }
  &__title {
    color: $L_black_70;
    display: flex;
    font-weight: 700;
    padding-inline: 8px;
    padding-block: 12px 6px;
  }
  &__imageSection {
    position: relative;
    overflow: hidden; // clip l’overlay aux coins
    border-radius: 32px 32px 0 0; // même rayon que l’image
    corner-shape: squircle;
  }

  &__image {
    position: relative;
    z-index: 1; // sous l’overlay, au-dessus du fond
    width: 100%;
    aspect-ratio: 1/0.5;
    border-radius: 32px 32px 0 0;
    corner-shape: squircle;
    display: block;
  }
  &__githubLink {
  }
  &__input {
    background-color: $L_black_25;
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    corner-shape: squircle;
    color: $OP_white_10;
    border: none;
  }
  &__textarea {
    background-color: $L_black_25;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    corner-shape: squircle;
    color: $OP_white_10;
    border: none;
    resize: vertical;
  }
  &__skillsList {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: center;
  }
  &__skill {
    width: 32px;
  }
  &__sendButton {
    font-family: "Raleway", sans-serif;
    color: $black;
    background: linear-gradient(135deg, $sunrise, $OP_red_70);
    font-size: 18px;
    width: fit-content;
    display: flex;
    align-self: center;
    margin: 16px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(135deg, $OP_sunrise_10, $OP_red_90);
      border-radius: 128px;
    }
  }
}
