.projectCard {
  display: flex;
  flex-direction: column;
  background-color: $lighterGray;
  border-radius: 16px;
  padding: 16px;
  color: white;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  &__titleCard {
    font-size: 24px;
    font-weight: 900;
    color: $sunrise;
  }
  &__imageSection {
    height: 300px;
    background-color: $lightGray;
    padding: 16px;
    border-radius: 8px;
  }
  &__githubLink {
  }
  &__input {
    width: 100%;
    max-width: 500px;
    padding: 10px 6px;
    border-radius: 8px;
    border: none;
  }
  &__skills {
    display: flex;
  }
  &__skill {
    width: 32px;
  }
  &__sendButton {
    font-family: "Raleway", sans-serif;
    color: $black;
    padding: 8px 4px;
    background-color: $sunrise;
    border: none;
    border-radius: 16px;
    font-weight: 700;
  }
  &__imageSection {
    display: flex;
    flex-direction: column;
  }
}
