.projectCard {
  display: flex;
  flex-direction: column;
  background-color: $L_black_5;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 15px 0 $OP_sunrise_95;
  height: fit-content;

  &__infos {
    background: linear-gradient(135deg, $OP_sunrise_90, $OP_sunrise_90);
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: inset 0 0 5px 0 $OP_black_40;
    padding-block: 16px;
  }
  &__section {
    display: grid;
    grid-template-columns: 100px auto;

    padding-inline: 16px;
  }
  &__titleCard {
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 900;
    color: $sunrise;
    margin: 16px;
  }
  &__title {
    color: $L_black_70;
    display: flex;
    align-self: center;
    font-weight: 500;
  }
  &__imageSection {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    box-shadow: inset 0 0 5px 0 $OP_black_40;
    background-color: $L_black_15;
    height: fit-content;
    min-height: 260px;
  }
  &__image {
    border-radius: 16px;
    box-shadow: 0 2px 10px 0 $OP_black_60;
  }
  &__githubLink {
  }
  &__input {
    background-color: $L_black_25;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    color: $OP_white_10;
    border: none;
  }
  &__textarea {
    background-color: $L_black_25;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    color: $OP_white_10;
    border: none;
    resize: vertical;
  }
  &__skillsList {
    display: flex;
  }
  &__skill {
    width: 32px;
    margin-inline: 8px;
  }
  &__sendButton {
    font-family: "Raleway", sans-serif;
    color: $black;
    padding: 12px 16px;
    background-color: $sunrise;
    border: none;
    border-radius: 16px;
    margin-inline: 16px;
    font-weight: 900;
    font-size: 18px;
    width: fit-content;
    display: flex;
    align-self: center;
    margin: 16px;
  }
}
