.projectCard {
  display: flex;
  flex-direction: column;
  background-color: $darkGray;
  border-radius: 16px;
  padding: 16px;
  color: white;
  gap: 8px;
  max-width: 500px;
  width: 100%;
  &__infos {
    background-color: $lightGray;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__section {
    display: grid;
    grid-template-columns: 0.5fr auto;
    padding-inline-start: 6px;
  }
  &__titleCard {
    font-size: 24px;
    font-weight: 900;
    color: $sunrise;
  }
  &__title {
    color: $sunrise;
  }
  &__imageSection {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 300px;
    padding: 16px;
    border-top: 1px solid $sunrise;
    border-bottom: 1px solid $sunrise;
    background-color: $lightGray;
  }
  &__githubLink {
  }
  &__input {
    background-color: $lighterGray;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    padding: 16px 8px;
    border-radius: 8px;
    border: none;
  }
  &__skills {
    display: flex;
  }
  &__skill {
    width: 32px;
  }
  &__sendButton {
    font-family: "Raleway", sans-serif;
    color: $black;
    padding: 8px 4px;
    background-color: $sunrise;
    border: none;
    border-radius: 16px;
    font-weight: 700;
  }
  &__imageSection {
    display: flex;
    flex-direction: column;
  }
}
